*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.container{
    background-color: rgba(0, 0, 0, 0.942);
    color: white;
    width: 100vw;
    height: 100vh;
}


.field{
 
  
    width: 90% ;
    max-width: 400px;
    height: 550px;
      border: 0.5px solid rgba(255, 255, 255, 0.407);
    background-color: rgba(34, 33, 33, 0.527);
    border-radius: 30px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50% , -50%);
    padding: 30px;
 
}


legend{
    margin: 0 auto;
    border: 0.5px solid rgba(255, 255, 255, 0.407);
    border-radius: 50%;
    padding: 20px;
  
    background-color: rgba(0, 0, 0, 0.942);
}
#icon0{
    font-size: 4em;
}


h2{
    text-align: center;
    margin-bottom: 30px;
}
#p1{
    text-align: center;
    margin-bottom: 30px;
   

}
.red{
    color: red;
}
.green{
    color: green;
}

.form{
    margin: auto;

}

.input1{

    border:none;
    outline: none;
    font-size: 1.2em;
    color: white;
    font-weight: 100;
    background-color: rgba(34, 33, 33, 0.527);
    width: 85%;
 
}

.user{
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 40px;
}
.lock{
   margin-bottom: unset;
   margin-bottom: 5px;
}
.items{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    color: rgba(128, 128, 128, 0.593);
}
.items a{
    color: rgba(128, 128, 128, 0.593);
    text-decoration: none;
}


.btnmovement{

   
    width: 100%;
    height: 115px;
    position: relative;

}

button{
    padding: 10px 25px; 
    font-size: 1em;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    background-color: rgb(66, 66, 161);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);


    
}

#p2{

   text-align: center;
   color: rgba(128, 128, 128, 0.593);
}

#p2 span{
    color: white;
}
